jupyter
matplotlib
seaborn
# NB Seaborn requires pandas, but has... unconventional views on install_requires
# cf https://github.com/mwaskom/seaborn/issues/169
pandas
sphinx_rtd_theme
sphinx>=1.4
nbsphinx